*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EFEFEF;
}

body::before{
    content: '';
    width: 100%;
    height: 436px;

    position: absolute; 
    top: 0;
    left: 0; 
    z-index: -1;
    background: #535971;  
}

.page{
    width: 750px;
    margin: auto;
}

header{
    width: 417px;
}

header h1{  
    color: white;

    font-weight: 400;
    font-size: 48px;
    line-height: 60px;

    margin-top: 140px;
    margin-bottom: 18px;
}

h1, h2, legend{
    font-family: 'Staatliches', cursive;
}

p, label{
    font-family: 'Poppins', sans-serif;
}

header p{
    color: white;

    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    margin-bottom: 58px;
}

form{
    background-color: #FFFFFF;
    border-radius: 8px 8px 0 0;

    padding: 64px;

    display: flex;
    flex-direction: column;
    gap: 48px;
}

fieldset{
    border: none;
}

.fieldset-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

fieldset legend{
    color: #535971;

    font-weight: 400;
    font-size: 24px;
    line-height: 34px;

    width: 100%;

    border-bottom: 1px solid #E6E6F0;
    padding-bottom: 16px;
}

#mentoria {
    color: #535971;
    width: 100%;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;

    margin-bottom: 11px;
}

.input-campo{
    display: flex;
    flex-direction: column;
}

.input-campo label{
    color: #4E4958;
    margin-bottom: 8px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.input-campo span{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

    color: #7f7c88;
}

.input-campo input{
    height: 56px;
    padding: 0 24px;

    font-size: 16px;
    line-height: 26px;

    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
}


.col2{
    display: flex;
    gap: 22px;
}

.col2 > div:nth-child(1){
    width: 50%;
}

.col2 > div:nth-child(2){
    width: 50%;
}

.col3{
    display: flex;
    align-items: flex-end;
    gap: 22px;
}

.col3 > div:nth-child(1){
    width: 100%;
}

footer{
    width: 750px;
    height: 160px;

    padding: 71px 52px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background: #535971;
    border-radius: 0px 0px 20px 20px;

    margin-bottom: 8px;
}

footer button{
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    gap: 10px;

    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    background: #FF5374;
    border-radius: 20px;
    border: 0;
}

footer button:hover{
    background: #ee728b;
}





